# Build output
bin/
obj/
out/

# VS / Rider
.vs/
.idea/
*.user
*.suo

# EF Core Migrations bundle
efbundle

# Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

/personal-finance/.angular/cache/
/personal-finance/node_modules/

# Claude Code
.claude/settings.local.json
.claude/worktrees/
/.claire
